* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}
.main img {
  display: none;
}
.main .left {
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main .left section {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main .left section .logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.main .left section .logo h1 {
  font-size: 3vmin;
}
.main .left section p {
  width: 50%;
  font-size: 2.5vmin;
  opacity: 0.7;
}
.main .left section .social {
  display: flex;
  gap: 1rem;
  padding: 0 20%;
  align-items: center;
  width: 100%;
}
.main .left section .social .s1 {
  width: 25vmax;
  height: 3vmax;
  display: flex;
  border-width: 0cap;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  background-color: #E60023;
  transition: color 0.3s ease;
}
.main .left section .social .s1 img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5vw;
  width: 20%;
  height: 100%;
}
.main .left section .social .s1 h6 {
  width: 80%;
  font-size: 1.4vmin;
}
.main .left section .social .s2 {
  width: 25vmax;
  height: 3vmax;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  background-color: #105c9e;
  transition: color 0.3s ease;
}
.main .left section .social .s2 img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1vw;
  width: 20%;
  height: 100%;
}
.main .left section .social .s2 h6 {
  width: 80%;
  font-size: 1.4vmin;
}
.main .left section .or {
  text-align: center;
  opacity: 0.5;
  font-size: 2vmin;
}
.main .left section .log {
  display: flex;
  flex-direction: column;
}
.main .left section .log label {
  font-size: 1.5vmin;
  opacity: 0.7;
}
.main .left section .log input {
  width: 20vw;
  height: 1vh;
  border-width: 0;
  padding: 0.5rem;
  font-size: 1.7vmin;
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
  border-radius: 0%;
  border-bottom: 0.7px solid rgba(164, 163, 163, 0.596);
  outline: none;
}
.main .left section .log input:hover {
  -o-border-image: linear-gradient(to right, purple, red) 1;
     border-image: linear-gradient(to right, purple, red) 1;
}
.main .left section .log input:focus {
  -o-border-image: linear-gradient(to right, #5f7aff, #0257a7) 1;
     border-image: linear-gradient(to right, #5f7aff, #0257a7) 1;
  /* Apply gradient border on focus */
}
.main .left section .log .rem-fog {
  margin-top: 1.3vw;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2.8vmax;
  height: 100%;
}
.main .left section .log .rem-fog .rem {
  width: 50%;
  display: flex;
}
.main .left section .log .rem-fog .rem input {
  height: 2vmin;
  margin: 0.3vh;
  width: 20%;
}
.main .left section .log .rem-fog .rem label {
  font-size: 1vmax;
  opacity: 1.9;
}
.main .left section .log .rem-fog a {
  width: 50%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1vmax;
  transition: color 0.3s ease;
}
.main .left section .log .but {
  margin-top: 2vmin;
}
.main .left section .log .but button {
  width: 12vmin;
  padding: 1vmin;
  border-radius: 0.5vmin;
  margin-left: 2vmin;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.26);
  font-size: 1.8vmin;
  border-width: 0cap;
  color: white;
  background: linear-gradient(to right, rgb(205, 9, 87), rgb(242, 74, 102), rgb(237, 125, 69));
}
.main .left section .log .but .signup {
  color: black;
  background: white;
  box-shadow: none;
  font-weight: 530;
  border: 0.7px solid rgba(128, 128, 128, 0.527);
}
.main .left section .log .but button:hover {
  font-size: 2.1vmin;
}
.main .left section .log .but .signup:hover {
  background: none;
  -o-border-image: linear-gradient(to right, purple, red) 1;
     border-image: linear-gradient(to right, purple, red) 1;
  box-shadow: none;
}
.main .left section .log p {
  text-align: center;
  margin-top: 4vmin;
  font-size: 1.6vmin;
  width: 80%;
}
.main .left section .log p span {
  color: rgb(7, 59, 190);
}
.main .right {
  background: url("img.png");
  background-size: cover;
  width: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-direction: column;
}
.main .right div {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1.8vh;
  margin-left: 3vw;
}
.main .right div h1 {
  font-size: 3vmin;
}
.main .right div p {
  width: 50%;
  font-size: 1.8vmin;
}

@media (max-width: 280px) {
  .main {
    background-color: burlywood;
  }
  .main img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main .left {
    display: none;
  }
  .main .right {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
